body{
   background-color: black;
}

.contenedor{
    background-color: white;
    width: 350px;
    height: 520px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content:space-between;
    padding: 10px;
}
.header-left{
    display: flex;
}
p{
    margin: 0;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
.footers-icons{
    display: flex;
    justify-content:space-between;
    margin: 10px;
}
.size-icono{
font-size: 30px;
}

.header-left-icons{
    margin-right: 10px;
}

.footer-text{
    margin: 10px;
}

.footer-text-one{
    margin-bottom: 10px;
}